// ---------- NAV ----------
nav {
    ul {
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        margin-top: 0;
        margin-bottom: 0;
        background-color: rgba(0, 0, 0, 0.767);
        padding-top: 10px;
        padding-bottom: 10px;
        transition: 1s;
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        padding-left: 0;
        height: 20px;
    }

    li {
        display: inline-block;
        text-align: center;

        a {
            color: white;
            text-decoration: none;
            font-size: 20px;
        }
    }
}

// ----- Max-width -----
@media screen and (min-width: 1000px) {


    nav {
        ul {
            padding-bottom: 30px;

            a {
                font-size: 30px;
            }
        }
    }
}