body{
     height: 100vh;
     background: linear-gradient(#00aeeF , #000430);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     font-family: 'Quicksand', sans-serif;
     overflow: hidden!important;
     user-select: none;
     list-style-type:none;
     h1{
          position: absolute;
          top: 24%; left: 60%;
          width: 100%;
          font-size: 15vw;
          color: white;
          padding-bottom: 4vw;
          transform: translate(-50%, -50%);
     }
     h2{
          position: absolute;
          width: 100%;
          color: white;
          top: 34%; left: 70%;
          font-size: 10vw;
          transform: translate(-50%, -50%);
     }
     .button1{
          border: 0.3vh solid white;
          width: 35vw;
          text-align: center;
          padding-top: 2vw;
          padding-bottom: 2vw;
          padding-left: 10vw;
          padding-right: 10vw;
          border-radius: 20vw;
          position: absolute;
          font-size: 5vw;
          top: 70%; left: 50%;
          transform: translate(-50%, -50%);
          a{
               text-decoration: none;
               color: white;
          }
     }
     .button2{
          border: 0.3vh solid white;
          width: 35vw;
          text-align: center;
          padding-top: 2vw;
          padding-bottom: 2vw;
          padding-left: 10vw;
          padding-right: 10vw;
          border-radius: 20vw;
          position: absolute;
          top: 77%; left: 50%;
          font-size: 5vw;
          transform: translate(-50%, -50%);
          a{
               text-decoration: none;
               color: white;
          }
          
     }
     .button3{
          border: 0.3vh solid white;
          width: 35vw;
          text-align: center;
          padding-top: 2vw;
          padding-bottom: 2vw;
          padding-left: 10vw;
          padding-right: 10vw;
          border-radius: 20vw;
          position: absolute;
          top: 84%; left: 50%;
          font-size: 5vw;
          transform: translate(-50%, -50%);
          a{
               text-decoration: none;
               color: white;
          }
          
     }
}