body {
     font-family: 'Quicksand', sans-serif;
     text-align: justify;
     padding-right: 6%;
     padding-left: 6%;

     h1 {
          font-size: 60px;
          color: #00aeeF;
     }

     h2 {
          font-size: 30px;
     }

     img {
          width: 50px;
     }

     p {
          padding: 1%;
     }
}



@media screen and (min-width : 1400px) {
     body {
          margin: auto;
          display: flex;
          flex-direction: column;
          text-align: justify;
          justify-content: center;
          align-items: center;
          width: 30%;
     }
}