// --------- GENERAL ---------
body,
html {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    color: white;
}

body {
    background: rgb(0, 174, 239) no-repeat;
    background: linear-gradient(180deg, rgba(0, 174, 239, 1) 12%, rgb(0, 49, 94) 100%);
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    font-size: 15vw;
}

// --------- SEARCH ---------
.search {
    display: flex;
    justify-content: center;

    input {
        margin: 10px;
        width:  70%;
        height: 40px;
        border-radius: 50px;
        background: rgba(255, 255, 255, 0.425);
        border: none;
        color: #fff;
        padding-left: 20px;
    }
}

// --------- GALLERY ---------
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    img {
        max-width: 150px;
        margin: 3px;
    }
}