@import "GENERAL";
@import "COLORS";

body {
     user-select: none;
}

svg {
     height: 200px;
     margin: 100px;
}

h1 {
     width: 100%;
     font-size: 55px;
     color: white;
     text-align: center;
     margin: 5px;
}

h2 {
     width: 100%;
     color: white;
     font-size: 35px;
     text-align: center;
     margin: 5px;
     margin-bottom: 55px;
}

a {
     text-decoration: none;

     &:visited {
          color: #fff;
     }

     &:hover {
          color: #000;
          background-color: #fff;
     }
}

.button {
     border: 2px solid white;
     width: 200px;
     text-align: center;
     padding: 10px 5px;
     border-radius: 50px;
     font-size: 10px;
     color: #fff;
     cursor: pointer;
}

main {
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
}

.flex {
     display: flex;
     justify-content: center;
     margin: 20px;
}

@media screen and (min-width: 601px) and (max-width: 999px) {
     h1 {
          font-size: 65px;
     }

     h2 {
          font-size: 40px;
     }

     .button {
          width: 250px;
          font-size: 15px;
     }

     svg {
          height: 250px;
          margin-bottom: 100px;
     }
}

@media screen and (min-width: 1000px) {

     h1 {
          font-size: 75px;
     }

     h2 {
          font-size: 40px;
     }

     .button {
          width: 250px;
          font-size: 20px;
     }

     svg {
          height: 250px;
          margin-bottom: 50px;
     }
}