@media screen and (max-width: 600px) { body { height: 100vh; background: -webkit-gradient(linear, left top, left bottom, from(#00aeeF), to(#000430)); background: linear-gradient(#00aeeF, #000430); background-position: center; background-repeat: no-repeat; background-size: cover; font-family: 'Quicksand', sans-serif; overflow: hidden; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; list-style-type: none; }
  body h1 { width: 100%; font-size: 60px; color: white; text-align: center; }
  body h2 { width: 100%; color: white; font-size: 40px; text-align: center; }
  body a { text-decoration: none; }
  body a:visited { color: #fff; }
  body a:hover { color: black; background-color: #fff; }
  body .button { border: 2px solid white; width: 200px; text-align: center; padding: 10px 5px; border-radius: 50px; font-size: 10px; color: #fff; cursor: pointer; }
  main { height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
  .flex { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin: 20px; } }

@media screen and (min-width: 601px) and (max-width: 999px) { body { height: 100vh; background: -webkit-gradient(linear, left top, left bottom, from(#00aeeF), to(#000430)); background: linear-gradient(#00aeeF, #000430); background-position: center; background-repeat: no-repeat; background-size: cover; font-family: 'Quicksand', sans-serif; overflow: hidden; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; list-style-type: none; }
  body h1 { width: 100%; font-size: 60px; color: white; text-align: center; }
  body h2 { width: 100%; color: white; font-size: 40px; text-align: center; }
  body a { text-decoration: none; }
  body a:visited { color: #fff; }
  body a:hover { color: black; background-color: #fff; }
  body .button { border: 2px solid white; width: 250px; text-align: center; padding: 10px 5px; border-radius: 50px; font-size: 15px; color: #fff; cursor: pointer; }
  main { height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
  .flex { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin: 20px; } }

@media screen and (min-width: 1000px) { body { height: 100vh; background: -webkit-gradient(linear, left top, left bottom, from(#00aeeF), to(#000430)); background: linear-gradient(#00aeeF, #000430); background-position: center; background-repeat: no-repeat; background-size: cover; font-family: 'Quicksand', sans-serif; overflow: hidden; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; list-style-type: none; }
  body h1 { width: 100%; font-size: 60px; color: white; text-align: center; }
  body h2 { width: 100%; color: white; font-size: 40px; text-align: center; }
  body a { text-decoration: none; }
  body a:visited { color: #fff; }
  body a:hover { color: black; background-color: #fff; }
  body .button { border: 2px solid white; width: 250px; text-align: center; padding: 10px 5px; border-radius: 50px; font-size: 20px; color: #fff; cursor: pointer; }
  main { height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
  .flex { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin: 20px; } }

svg { height: 25%; }

h1, h2 { margin: 5px; }

h2 { margin-bottom: 55px; }
/*# sourceMappingURL=accueil.css.map */